@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 100;
  src: url('./kalameh/ttf/Kalameh-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 200;
  src: url('./kalameh/ttf/Kalameh-ExtraLight.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 300;
  src: url('./kalameh/ttf/Kalameh-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 400;
  src: url('./kalameh/ttf/Kalameh-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 500;
  src: url('./kalameh/ttf/Kalameh-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 600;
  src: url('./kalameh/ttf/Kalameh-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 700;
  src: url('./kalameh/ttf/Kalameh-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 800;
  src: url('./kalameh/ttf/Kalameh-ExtraBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  font-style: normal;
  font-weight: 900;
  src: url('./kalameh/ttf/Kalameh-Black.ttf') format('truetype');
  font-display: swap;
}

/* Optional - Add a utility class for using the font */
.font-kalameh {
  font-family: 'Kalameh', sans-serif;
}